/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}
nav.navbar{
  background:  rgb(252, 112, 135) ;
}

.navbar-brand{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5rem;
  
}

div.container div.row{ 
  border-radius: 4rem 1rem 4rem;
  background: aqua;
}
.col-lg-4{
  flex: auto;
  margin: 1rem 0 0 0;
}
#ilustracion{
  height: 350px;
  position: absolute;
  z-index: 1;
  right: 100px;
  top: 218px;
}
div.text-bg-warning div.bg-light img.d-block, div.text-bg-light div.bg-dark img.d-block,
div.text-bg-info div.bg-dark img.d-block, div.text-bg-danger div.bg-light img.d-block,
div.text-bg-success div.bg-dark img.d-block{
  
  height: 100%;
  width: 360px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem 1rem 0 0;

}
div.col-lg-4 img.bd-placeholder-img{
height: 140px;
width: 140px;
object-fit: cover;
object-position: center;
border-radius: 50%;
}
div.col-md-5 img.bd-placeholder-img{
  border-radius: 0 1rem 5rem 0;
}
#img-izq{
  border-radius: 4rem 0 0 1rem;

}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */
/* CARD */
div.album{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
footer.container{
  padding: 2rem;
}
div.galeriaImagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
.img-crt{
  width: 274px;
  height: 130px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}
.card {
  width: 300px;
  height: 350px;
  padding: .8em;
  background: #fff6f6;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 1rem;

 }
 
 .card-img {
  background-color: #ffcaa6;
  height: 40%;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
 }
 
 .card-info {
  padding-top: 10%;
 }
 
 svg {
  width: 20px;
  height: 20px;
 }
 
 .card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
 }
 
 /*Text*/
 .text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
 }
 
 .text-body {
  font-size: .9em;
  padding-bottom: 10px;
 }
 
 /*Button*/
 .card-button {
  border: 1px solid #252525;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
 }
 
 /*Hover*/
 .card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
 }
 
 .card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
 }
 
/* RESPONSIVE CSS
-------------------------------------------------- */
@media screen and (max-width: 1052px) {
  #ilustracion{
    opacity: 0;
  }
}
@media (min-width: 40em) {
  /* Bump up size of carousel content */

  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  
  .featurette-heading {
    margin-top: 7rem;
  }
}
